
:root {
  --title-color: #161f38;
  --gray: #3e3f46;
  --day: #ffffff;
  --light-color: #ffffff;
  --night: #272935;
  --circle-color: #f1efef;
  --footer-border: #ececec;
  --box-shadow: #d6d5d5;
}

.night-mode {
  --day: var(--night);
  --title-color: #f9f9fa; 
  --gray: #f9f9fa; 
  --circle-color: #424242;
  --footer-border: rgb(75, 74, 74);
  --box-shadow: #474646;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--day);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


.inner-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;

}

/* HEADER ===================================== */
#site-header {
  padding: 20px 0;
}

.logo {
  width: 125px;
}

.nav-list-item {
  margin-left: 30px;
  position: relative;
  text-transform: capitalize;
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
}

.nav-item:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 18px;
  left: 0;
  width: 0;
  height: 3px;
  background: var(--title-color);
  transition: all 0.1s ease-in-out;
}

.active::after {
  width: 20px;
  background: #0057FF;
 }

.nav-item:hover::after {
  width: 20px;
}

.sign-up {
  background: #0057FF;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.sign-up:hover,
.latest-btn:hover,
.btn:hover {
  background-color: #0139a8;
}

.bx {
  font-size: 22px;
}

.bx-moon {
  margin-left: -10px;
}
/* /HEADER ===================================== */


/* HERO ===================================== */
#hero {
  padding-bottom: 150px;
  overflow: hidden;
}

.config {
  padding: 5px;
  position: fixed;
  top: 50%;
  right: 0;
  display: inline-block;
  border-radius: 4px;
  background-color: var(--day);
  color: #002fff;
  box-shadow: 3px 10px 10px 2px var(--box-shadow);
  z-index: 10;
}

.hero-wrap {
  padding-top: 50px;
  position: relative;
}

.hero-desc {
  padding-top: 180px;
}

.hero-title {
  font-size: 4rem ;
  color: var(--title-color);
}

.hero-p {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--title-color);
}

.hero-form {
  background-color: var(--day);
  margin-left: -15px;
}

.hero-input {
  background-color: var(--day);
}

input {
  margin-right: 10px;
  padding: 15px;
  width: 335px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn {
  padding: 16px;
  border: none;
  background-color: #0057FF;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
}

.socials-wrap {
  margin-top: 30px;
}

.social {
  margin-left: 10px;
  color: var(--title-color);
}

.follow {
  color: var(--title-color);
}

.hero-img {
  box-sizing: unset;
  padding: 50px;
  position: absolute;
  top: 150px;
  width: 400px;
  right: -80px;
  border-radius: 50%;
  overflow: hidden;
}


/* animations */

.phase-one {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 150px;
  right: -80px;
  border: 2px dashed var(--circle-color);
  border-radius: 50%;
}

.phase-two {
  position: absolute;
  width: 620px;
  height: 620px;
  top: 90px;
  right: -140px;
  border: 2px dashed var(--circle-color);
  border-radius: 50%;
}

.phase-one-handler {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-name: phase-one-anim;
  animation-duration: 180s;
  animation-iteration-count: infinite;
}

.phase-two-handler {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-name: phase-one-anim;
  animation-duration: 180s;
  animation-iteration-count: infinite;
}

.red-item {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40px;
  right: 70px;
  background-color: #ff008c;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #ff008c;
  opacity: 0.7;
}

.yellow-item {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 480px;
  right: 230px;
  background-color: #ffe600;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #ffe600;
  opacity: 0.7;
}

.blue-item {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 130px;
  left: 20px;
  background-color: #002fff;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #002fff;
  opacity: 0.7;
}

.orange-item {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 350px;
  right: -10px;
  background-color: #ffa500;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #ffa500;
  opacity: 0.7;
}

/* /HERO ===================================== */


/* FEATURED SECTION ===================================== */
#featured {
  padding-top: 50px;
}

.post {
  margin-bottom: 70px;
}

.title {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--title-color);
}
.title::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #0057FF;
  position: relative;
  top: -15px;
}

.category {
  font-size: .875rem;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  padding: 6px 16px;
  border-radius: 14px;
  color: #fff;
  margin: 0 8px 8px 0;
  opacity: .9;
}

.lifestyle,
.health {
  background-color: #0057FF;
}

.travel {
  background: #E10689;
}

.food {
  background: #B43ADF;
}

.inspiration {
  background: #9D6805;
}

.technology {
  background: #2D841F;
}

.bxs-star {
  position: relative;
  top: 5px;
  left: -5px;
}

.post-image {
  position: relative;
  width: 240px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-desc {
  padding-left: 30px;
}

.post-title {
  margin: 30px 0;
  font-size: 2rem;
  color: var(--title-color);
}

.post-title:hover {
  text-decoration: underline 4px;
}

.post-p,
.date {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--title-color);
}

.date {
  margin-top: 50px;
}


/* /FEATURED SECTION ===================================== */


/* SUBSCRIPTION SECTION ===================================== */
.sub-wrap {
  margin-bottom: 70px;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #0057FF, #012293);
  color:#fff;
}

.sub-title {
  font-size: 40px;
}

.sub-p {
  margin-top: 20px;
  line-height: 1.5;
}

.sub-link {
  display: inline-block;
  margin-top: 20px;
}

.sub-link a::after {
  content: '';
  display: inline-block;
  position: relative;
  top: -10px;
  width: 120%;
  height: 2px;
  background-color: #fff;
  transition: all 0.2s ease;
  opacity: 0;
}

.sub-link i {
  position: absolute;
  transform: rotate(180deg);
  transition: all 0.2s ease;
}

.sub-link a:hover::after {
  opacity: 1;
}
.sub-link a:hover i {
  margin-left: 10px;
}

.sub-price {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 190px;
  height: 240px;
  background: #fff;
  border-radius: 10px;
}

.sub-price-title {
  font-size: 16px;
  color: #0057FF;
  text-transform: uppercase;
  text-align: center;
}

.price {
  margin-top: 10px;
  font-size: 48px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.cheap {
  margin-top: -40px;
}

.price sup {
  font-size: 25px;
}

.discount {
  margin-top: 10px;
  text-align: center;
  background: #96ea8c;
  color: #000;
  font-size: .875rem;
  font-weight: 600;
  height: 28px;
  width: 100px;
  line-height: 28px;
  padding: 0 16px;
  border-radius: 14px;
}

.sub-btn {
  margin-top: 15px;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  border: none;
  background-color: #002fff;
  transition: all 250ms;
}

.sub-btn:hover {
  background-color: #0139a8;
}
/* /SUBSCRIPTION SECTION ===================================== */


/* NEWSLETTER SECTION ===================================== */
.newsletter-wrap {
  margin-top: 80px;
  margin-bottom: 70px;
  padding: 50px 0;
  padding-bottom: 65px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #0057FF, #012293);
  color:#fff;
}

.bx-envelope {
  margin-bottom: 20px;
  font-size: 108px;
}

.news-title {
  font-size: 48px;
}

.news-p {
  margin: 30px 0;
  font-size: 20px;
}

form {
  padding: 15px;
  display: inline-block;
  background-color: #fff;
  border-radius: 8px;
}

#newsletter input {
  width: 290px;
}
/* /NEWSLETTER SECTION ===================================== */


/* FOOTER SECTION ===================================== */
footer {
  border-top: 1px solid var(--footer-border);
  padding-top: 70px;
  overflow: hidden;
}

.footer-wrap {
  padding-left: 0;
  padding-right: 0;
}

.logo-column {
  margin-left: 0;
  margin-right: 110px;
}

.footer-logo {
  width: 100px;
}

.logo-col-p {
  margin-top: 15px;
  color: var(--gray);
  line-height: 1.5;
}

.column {
  margin-left: 110px;
}

.footer-col-item {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 14px;
  color: var(--gray);
}

.footer-col-item a {
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-gray);
}

.footer-links-wrap {
  margin-top: 50px;
  padding-bottom: 30px;
}

.copyright {
  color: var(--gray);
  font-size: 14px;
}
/* /FOOTER SECTION ===================================== */



/* keyframes */

@keyframes phase-one-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}